<div class="contact-page">
  <mat-card class="contact-page-info">
    <div class="row">
      <mat-icon>email</mat-icon>
      <mat-card-content>car.dealer@gmail.com </mat-card-content>
    </div>
    <div class="row">
      <mat-icon>phone</mat-icon>
      <mat-card-content>+48 123 456 789</mat-card-content>
    </div>
    <div class="row">
      <mat-icon>home</mat-icon>
      <mat-card-content>
        <div>ul. Obrzeżna Północna 41</div>
        <div>41-400 Mysłowice</div>
      </mat-card-content>
    </div>
    <div class="row">
      <mat-icon>access_time</mat-icon>
      <mat-card-content>
        <div>Godziny otwarcia:</div>
        <div>pon - pt: 8:00 - 15:00</div>
      </mat-card-content>
    </div></mat-card
  >
  <mat-card class="contact-page-map">
    <mat-card-content>Sprawdź dojazd:</mat-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.9311411312624!2d19.127570333953525!3d50.25587034352172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716c535de483687%3A0xb48d681008ee17fb!2zT2JyemXFvG5hIFDDs8WCbm9jbmEgNDEsIDQxLTQwMCBNeXPFgm93aWNl!5e0!3m2!1spl!2spl!4v1658588341420!5m2!1spl!2spl"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </mat-card>
</div>
