<form [formGroup]="addCarForm" (ngSubmit)="addCar()" class="add-car-form">
  <mat-form-field appearance="fill">
    <mat-label for="brand">Marka:</mat-label>
    <input
      matInput
      id="brand"
      type="text"
      class="add-car-input"
      formControlName="brand"
  /></mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="model"> Model:</mat-label>
    <input
      matInput
      id="model"
      type="text"
      class="add-car-input"
      formControlName="model"
  /></mat-form-field>
  <button mat-raised-button color="primary" class="add-car-button">
    Dodaj samochód
  </button>
</form>
<!-- [disabled]="!addCarForm.valid" -->
