// :host {
//   display: flex;
//   justify-content: center;
// }

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-body {
  width: 100%;
  display: flex;
}

.router-container {
  background-color: #eee;
  width: 100%;
  min-height: 50vh;
}
