<header>
  <h1>o nas</h1>
</header>
<div class="about-us">
  <mat-card>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores ipsa
      quidem adipisci nemo id dignissimos aspernatur repellat aut quam commodi,
      eos natus exercitationem minus nulla accusamus odit amet officia delectus.
      Fuga rem magni atque, earum consequuntur exercitationem error molestiae
      eius velit incidunt optio cupiditate alias dolorem repudiandae nihil
      nostrum adipisci odio a quam! Officiis, quam atque cupiditate alias
      consequatur voluptas quas? Blanditiis minima itaque quis quaerat ab, quod
      voluptates eius aperiam doloribus alias dignissimos deleniti eos optio
      molestias commodi inventore labore totam.
    </p>
    <img
      class="about-us-image"
      src="assets/about-us-images/chevy-impala-ga04b78e5b_640.jpg"
      alt=""
    />
  </mat-card>
  <mat-card>
    <img
      class="about-us-image"
      src="assets/about-us-images/audi-gd67d9adef_640.jpg"
      alt=""
    />
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est impedit
      labore tempora. Tempora, laudantium sapiente nisi vitae enim nobis
      doloribus unde voluptates praesentium ipsam tempore ex quibusdam voluptas
      dolor, quo eos laborum asperiores pariatur, deserunt officia illo
      suscipit. Similique amet quos itaque, enim dolorem tenetur, minus, magni
      iste eaque sit necessitatibus ullam natus nemo iusto quo quasi facilis
      eius. Rem ipsam nisi, doloribus quam voluptatibus nemo? Exercitationem
      enim rem neque officiis magni reiciendis, nesciunt natus? Voluptate cumque
      enim ea, doloremque porro iusto suscipit.
    </p>
  </mat-card>
  <mat-card>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsum
      architecto perspiciatis totam? Sapiente eum aperiam reprehenderit magni,
      eligendi eaque quaerat saepe voluptatum modi fugiat expedita natus
      consequatur distinctio fuga vel sequi cupiditate aliquid recusandae?
      Maiores, distinctio quibusdam animi totam ex, libero adipisci vitae ab
      eaque nihil fuga voluptatem. Voluptatibus tempore nesciunt earum quo at
      fugiat exercitationem reprehenderit laboriosam nisi temporibus cumque
      aliquam aspernatur sed quia, consequatur rem vel blanditiis eligendi. Fuga
      dignissimos quis ad, illum magnam voluptate quos iste.
    </p>
    <img
      class="about-us-image"
      src="assets/about-us-images/electric-car-g9f2add30a_640.jpg"
      alt=""
    />
  </mat-card>
  <mat-card>
    <img
      class="about-us-image"
      src="assets/about-us-images/oil-g5de7f7513_640.jpg"
      alt=""
    />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
      aspernatur. Delectus minima dolore possimus esse mollitia, accusantium
      beatae placeat veniam ab iusto. Nostrum unde sapiente omnis beatae
      suscipit ullam, dignissimos quae laudantium tempore necessitatibus earum,
      cupiditate accusamus eum nam quaerat. Fugit, doloribus accusamus sed
      debitis, repellat nulla dolorum eaque veritatis, doloremque quos quo
      sapiente odit! At error minus cupiditate iure aspernatur ullam sit ea
      tempora, soluta quod sint modi non quis illo, molestiae porro facere
      voluptatum quidem. Quidem veritatis, assumenda dolorem nisi minus aperiam
      accusantium labore, minima.
    </p>
  </mat-card>
</div>
